.venv
__pycache__
.ipynb_checkpoints
.pytest_cache

build/
dist/
*.egg-info
*.so
*.c
.DS_Store

tmp
personal_experiment
.idea
outputs
data
illustrations

cog/*.pkl
weights/**/*.ckpt
weights/**/*.pth

ood_experiments/
!ood_experiments/.gitkeep

logs/
!logs/.gitkeep

cache_gmm/
!cache_gmm/.gitkeep

notebooks/
!notebooks/.gitkeep
!notebooks/analysis_lmbd.ipynb
